/*----------------------------------mixins*/
.flex {
  display: flex;
  flex-wrap: wrap;
}
/*-------------------------------------reset*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
html {
  font-size: 100%;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}
img,
video,
canvas,
figure,
audio,
svg {
  max-width: 100%;
  height: auto;
}
a,
a:visited {
  color: #34373b;
  text-decoration: none;
}
ul,
ol {
  list-style: inside;
  list-style-type: none;
}
/*-------------------------------------layout*/
