#jeu {
    margin: 0 auto 0 auto;
}

button.case,
button.emptycase {
    width: 10vw;
    height: 10vw;
    font-size: 2em;
    float: left;
    border: solid 1pt black;
    margin: 1px 2px 1px 2px;
}

button.emptycase {
    background-color: inherit;
    border: none;
}

hr {
    clear: both;
    visibility: hidden;
    margin: 0;
    padding: 0;
}

.case1{

    background-image: url('1.jpg');
    background-position: center;
    background-size: cover;
}

.case2{

    background-image: url('2.jpg');
    background-position: center;
    background-size: cover;
}

.case3{

    background-image: url('3.jpg');
    background-position: center;
    background-size: cover;
}

.case4{

    background-image: url('4.jpg');
    background-position: center;
    background-size: cover;
}

.case5{

    background-image: url('5.jpg');
    background-position: center;
    background-size: cover;
}
.case6{

    background-image: url('6.jpg');
    background-position: center;
    background-size: cover;
}

.case7{

    background-image: url('7.jpg');
    background-position: center;
    background-size: cover;
}

.case8{

    background-image: url('8.jpg');
    background-position: center;
    background-size: cover;
}